body{
  background-image: linear-gradient(  #2B3499 ,#FF6C22,#FF9209 ,#FFD099   );
font-size: x-large;   
} 

    header{
        font-family: "Poppins", sans-serif;
        font-size: x-large;
        padding: 50px;
        text-align: center;
        font-size: xx-large;

    }
    nav{
        display: flex;
        padding: 50px;
    }
    .one{
        width: 50%;
        font-size: large;
         font-family: "Yeseva One", serif  ;
    }
 .tow img{
    width: 500px;
 }
 .three{
    font-size: 40px;
     padding-left: 130px;
     padding-top: 100px;
     background-image: linear-gradient(red ,red ,red,gold, yellow);
     background-clip: text;
     color: transparent;
    
 }
 .one{
    
 }